/*
http://tutorialzine.com/2015/07/learn-less-in-10-minutes-or-less/
*/
p {
  background-color: #ffffff;
  color: #1A237E;
  padding: 15px;
}
ul {
  background-color: #ffffff;
}
li {
  color: #1A237E;
}
#circle {
  background-color: #ffffff;
  border-radius: 100%;
}
#small-circle {
  width: 50px;
  height: 50px;
  border-radius: 80%;
}
#medium-circle {
  background-color: #4CAF50;
  border-radius: 100%;
  width: 100px;
  height: 100px;
}
#big-circle {
  width: 100px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 100%;
}
ul {
  background-color: #03A9F4;
  padding: 10px;
  list-tyle: none;
}
ul li {
  color: #fff;
  background-color: #fff;
  border-radius: 3px;
  margin: 10px 0;
}
div {
  height: 50px;
  width: 50px;
  background-color: #004590;
}
div:hover {
  background-color: rgba(0, 69, 144, 0.5);
}
#left {
  width: 100px;
  background-color: #004590;
}
#right {
  width: 200px;
  background-color: #03A9F4;
}
